.window {
    width: 220px;
    overflow: hidden;
}

.images {
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}

span {
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}

.red {
    color: red;
}